//cấu hình thư viện bable
//chuyển đổi ~ ==> ./src
{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
